<!DOCTYPE html>
<html>
<body>

<form method = "post" action = "http://localhost:5000/change">
roomNum:<br>
<input type="text" name="roomNum" value="YF101">
<br>

UserID:<br>
<input type="text" name="userID" value="17301002">
<br>

Attribute:<br>
<input type="text" name="attribute" value="size">
<br>

Value:<br>
<input type="text" name="value" value="80">
<br>

<br>
<input type="submit" value="Submit">
</form>

<p>改变教室的状态：需要输入改变的教室号，改变者的学号，需要改变的教室的属性（例如size：教室容量），该属性改变后的具体数值，后续需要补充JS脚本，弹出改变成功或改变失败（需要判断权限）</p>

</body>
</html>
