<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bootstrap模态登录框 - 源码之家</title>
</head>



<body>
<button onclick="window.location.href = 'http://localhost:5000/youke'">
    判断有课
</button>

<button onclick="window.location.href = 'http://localhost:5000/query1'">
    查询教室状态
</button>

<button onclick="window.location.href = 'http://localhost:5000/yuyue'">
    预约
</button>

<button onclick="window.location.href = 'http://localhost:5000/qxyy'">
    取消预约
</button>

<button onclick="window.location.href = 'http://localhost:5000/change_state'">
    改变教室状态
</button>

<button onclick="window.location.href = 'http://localhost:5000/tuijian'">
    推荐
</button>
</body>
</html>