<!DOCTYPE html>
<html>

<body>


<h4>下面数据需要读取数据库，为动态数据，此页面为动态页面</h4>
<table border="1">
<tr>
  <td>教室号码</td>
    <td>教室状态</td>
    <td>课程号</td>
  <td>课程名</td>
  <td>教室容量</td>
  <td>电源插座数量</td>
  <td>多媒体设备</td>
  <td>无线网络</td>
  <td>空调</td>

</tr>
<tr>
    <td>{{ q['教室号码'] }}</td>
    <td>{{ q['教室状态'] }}</td>
    <td>课程号</td>
  <td>课程名</td>
  <td>{{ q['教室容量'] }}</td>
  <td>{{ q['电源插座数量'] }}</td>
  <td>{{ q['多媒体设备'] }}</td>
  <td>{{ q['无线网络'] }}</td>
  <td>{{ q['空调'] }}</td>
</tr>
</table>

</body>
</html>
