<!DOCTYPE html>
<html>
<body>

<form action="/Users/owntime/Downloads/Bootstrap模态登录框 2/index.html">

UserID:<br>
<input type="text" name="userID" value="17301002">
<br>

roomNum:<br>
<input type="text" name="roomNum" value="YF101">
<br>

Time<br>
<input type="text" name="time" value="周二下午两点">
<br>

Number:<br>
<input type="text" name="Num" value="2">
<br>

<br>
<input type="submit" value="Submit">
</form>

<p>取消预约教室：输入取消预约者的学号，所取消预约的教室，取消预约的时间，取消预约的人数，后续需要补充JS脚本，弹出取消预约成功或取消预约失败</p>

</body>
</html>
