<!DOCTYPE html>
<html>
<body>

<form action="/Users/owntime/Downloads/Bootstrap模态登录框 2/index.html">
roomNum:<br>
<input type="text" name="roomNum" value="YF101">
<br>

Loc:<br>
<input type="text" name="loc" value="YF">
<br>

Size:<br>
<input type="text" name="size" value="85">
<br>

Electronic:<br>
<input type="text" name="electronic" value="4">
<br>

ManyMedia:<br>
<input type="text" name="manyMedia" value="1">
<br>

Wifi:<br>
<input type="text" name="wifi" value="1">
<br>

AirConditione:<br>
<input type="text" name="airConditione" value="1">
<br>

<br>
<input type="submit" value="Submit">
</form>

<p>推荐教室：需要需求教室的位置（具体哪一栋楼），需求教室的容量，电灯的数量，多媒体的数量，是否有wifi（有是1，无是0），是否有空调（有是1，无是0），提交后弹出符合要求的教室列表</p>

</body>
</html>
